body{
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}
.promo-banner{
    text-align: center;
    background-color: #F88366;
    color: #fff;
    padding: 10px 0;
}
.flex-area{
    display: flex;
}
.half-width{
    width: 50%;
}
.top-left{
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}
h1{
    font-size: 55px;
}

.half-width a{
    text-decoration: none;
    background-image: linear-gradient(45deg, #0388F7, #14BAFC);
    background-color: #F88366;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700px;
}
.half-width a:hover{
    background-image: linear-gradient(-45deg, #0388F7, #14BAFC);
}
.half-width p, .receipe-left p, .receipe-area-bottom p{
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 40px;
}
.half-width img{
    width: 80%;
}
.blue-color{
    color: #0388F7;
}
h2{
    font-size: 45px;
    color: #34495e;
}
.middle-area{
    background-image: url(images/bg.jpg);
    margin: 100px 0;
    padding-top: 50px ;
}
.middle-area img{
    padding-left: 10%;
    width: 100%;
}
.receipe-area-top{
    text-align: center;
}
.receipe-area{
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px gray;
    width: 27%;
}
.receipe-area:hover{
    box-shadow: 10px 10px 50px gray;
}
.receipe-area img{
    width: 100%;
}
h3{
    font-size: 30px;
}
.receipe-area-bottom{
    display: flex;
    margin: 3% 10%;
}
.social-area{
    display: flex;
    width:78%;
    justify-content: center;
    box-shadow: 5px 5px 20px gray;
    margin: 100px auto;
    border-radius: 25px;
    box-shadow: 5px 5px 20px gray;
    padding-bottom: 30px;
}
.social{
    margin: 0 auto;
}
.social-area h1{
    margin-bottom: 0px;
}
